.inputbuttons{
    width: 17rem;
    height:2.3rem;
    
}

.sub_button{
    margin-top: 1rem;
    width: 17rem;
    padding: 10px;
    font-size: 20px;
}
.login_button{
    width: 5rem;
    padding: 5px;
    font-size: 20px;
}

.passwordbutn{
    width: 17rem;
    height:2rem;
    font-size: 16px;
}

.seconddiv{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 23px;
    width: 23rem;
   margin-left: 25rem;
   margin-top: 10rem;
   box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginbutton{
    margin-top: 0.2rem;
    width: 17rem;
    padding: 10px;
    font-size: 20px;
}


.signupcontainer{
    background-color: #f2f2f2;
    padding: 19px;
    width: 30rem;
    margin-left: 20rem;
    margin-top: 8rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}