.playlistmain__container{
  background-color: var(--accent-color-dark);
  padding: 100rem;
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}
