*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image:url('https://image.shutterstock.com/image-photo/female-hands-holding-digital-tablet-260nw-1910115856.jpg');
    background-size: cover;
    background-position: center;
   
}
.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style:none;
    display: inline-block;
    margin:0 20px;
    position:relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #b7d1cf;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    margin-top: 0 auto;
    width:53%;
    margin-left:-0;
    top: 50%;
    transform:translate(45%);
    text-align: center;
    color: rgb(62, 82, 173);
    top: 15rem;
}

.title_container{
    color: #40a0d8;
    font-family: serif;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin:20px auto;
    font-weight: 100;
    line-height:25px; ;
}

.home_btn{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight:bold;
    border: 2px solid #009688;
    background: transparent;
    color: rgb(35, 38, 49);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.watch_btn{
    background: #40a0d8;
    height: 100%;
    width:100%;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
}
