*{
  box-sizing: border-box;
}

.routes{
  position: relative;
  margin-top: 4rem;
}

.route-body{
  width: 80%;
  position: absolute;
  right: 0%;
  top: 0%;
}
.b{
  border: 2px solid;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}